<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <p th:text="${page} + ' / ' + ${name} + '!'" />
    <p th:text="'현재시간 : , ' + ${time} + '!'" />
</div>
<div>
    <a href="/page01">Page01</a> &nbsp | &nbsp
    <a href="/page02">Page02</a> &nbsp | &nbsp
    <a href="/page03">Page03</a> &nbsp | &nbsp
    <a href="/page04">Page04</a>
</div>
</body>
</html>